/* Correction du header */

#sticky-nav > div > div.block.block-small.quicklinks.header-links {
    margin-left: 20.1%;
}

.is-stuck #sticky-nav > div > div.block.block-small.quicklinks.header-links {
    margin-left: 0%;
}

/* Liste de partenaire en double */

div.pl-item-group.js-pl.js-pal.is-visible > div:nth-child(1) {
   display: none;
}

/* Pictos Mega menu */
i.icon.picto-arbres {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 0px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-boots {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -43px no-repeat;
    padding: 19px 0 0 42px;
}
i.icon.picto-feu {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -86px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-gourde {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -127px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-map {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -169px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-mountain{
    background:url(/theme/destnat_git_desktop/img/sprite.png) 0 -211px no-repeat;
    padding:5px 0 0 42px
}
i.icon.picto-photo {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -253px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-plan {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -295px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-pouce {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -337px no-repeat;
    padding: 19px 0 0 42px;
}
i.icon.picto-sac {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -379px no-repeat;
    padding: 5px 0 0 42px;
}
i.icon.picto-the {
    background: url(/theme/destnat_git_desktop/img/sprite.png) 0 -421px no-repeat;
    padding: 5px 0 0 42px;
}
.mn-menu-item .icon {
    font-size: 3rem;
}


.parent150145 li.ql-item.linkid116795 {
    display: none;
}
.is-stuck .sticky-logo-date {
    background: url(img/logo-date2.jpg) center center no-repeat #fff;
}

div#catalog-v2 {
    width: 1265px;
}

.catalogue header.site-banner {
    background-color: #585858;
}

.catalogue main.container {
    padding-top: 55px;
    width: 1265px;
}
.is-stuck .sticky-logo-date {
    background: url(img/logo-date3.jpg) center center no-repeat #fff;
}
.espace-pro header .quicklinks {
    background: url(img/date-pro2.jpg) left center no-repeat #fff;
}

.faq .site-banner {
    background-size: 100%;
    background-image: url(https://www.destinations-nature.com/var/comexposium/storage/images/media/destinations-nature-medias/images/destinations/afrique-moyen-orient/mauritius-article/11505484-1-fre-FR/Mauritius-article_article_l_destinations_nature_fre.jpg);
}
.faq div#zone2 {
    padding-top: 32rem;
}
.espace-pro header.is-stuck .quicklinks {
    background: #fff url(img/logo-date3.jpg) no-repeat scroll left bottom/276px auto;
    padding-left: 382px;
}
